@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* define CSS properties */
:root {
    --primary-color: #0478ed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: rgb(44, 139, 60);
    --error-color: rgb(189, 51, 51);

}

/* universal selector with *  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* NAVBAR */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: solid 2px #fff;
}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* SHOWCASE */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    /* if we want to position anything 'absolute' within it, we can */
    position: relative;
}

.showcase-text {
    animation: SlideInFromLeft 1s ease-in;
}
.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 40px;
}

.showcase-form {
    position: relative; /* to add top properties */
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100; /* to make sure this is always on the top */
    justify-self: flex-end; /* to push the form to the right */
    animation: SlideInFromRight 1s ease-in;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
    border: 0;
    border-bottom: solid 1px #b4becd;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}


/* use pseudo selectors to add a slant */
.showcase::before, 
.showcase::after {
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
} 

/* STATS */
.stats {
    padding-top: 100px;
    animation: SlideInFromBottom 1s ease-in;
}

.stats-heading {
    max-width: 500px;
    margin: auto !important;
}
.stats .grid h3 {
    font-size: 35px;
}
.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* CLI  */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}

.cli .grid > *:first-child { /* anything that is the first-child */
    grid-column: 1 / span 2; /* go from 1, span 2 */
    grid-row: 1 / span 2;
}

/* CLOUD */
.cloud.grid {
    grid-template-columns: 4fr 3fr;
}

/* LANGUAGES */
.languages .flex {
    flex-wrap: wrap;
}
.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in; /* to make transition smoothly */
}
.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.languages .card:hover {
    transform: translateY(-15px);
}


/* FEATURES  */
.features-head img,
.docs-head img {
    width: 200px;
    justify-self: flex-end;
}


.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card i {
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid *:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* DOCS */
.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
    font-size: 1.1rem;
}
.docs-main h3 {
    font-size: 1.4rem;
    padding: 10px 0;
    margin: 10px 0;
}

.docs-main h2 {
    font-size: 2rem;
    padding: 10px 0;
    margin: 10px 0;
}

pre, code {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


/* FOOTER  */
.footer .social a {
    margin: 0 10px;
}

/* ANIMATIONS */
@keyframes SlideInFromLeft {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0%);}
}
@keyframes SlideInFromRight {
    0% {transform: translateX(100%);}
    100% {transform: translateX(0%);}

}
@keyframes SlideInFromTop {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0%);}

}
@keyframes SlideInFromBottom {
    0% {transform: translateY(100%);}
    100% {transform: translateY(0%);}

}

/* REPONSIVE */
/* Tablet and under  */
@media(max-width: 800px) {
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .languages .grid,
    .features-head .grid,
    .features-sub-head .grid,
    .features-main .grid,
    .docs-head .grid,
    .docs-main .grid,
    footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }

    .features-head,
    .features-sub-head,
    .docs-head,
    .docs-main {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img,
    .docs-main img {
        justify-self: center;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: SlideInFromTop 1s ease-in;
    }

    .showcase-text p {
        margin: auto;
    }
    .showcase-text a {
        margin-top: 30px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        top: 20px;
        width: 100%;
        animation: SlideInFromBottom 1s ease-in;
    }

    .cli .grid > *:first-child { /* anything that is the first-child */
        grid-column: 1;
    }

}

/* Mobile  */
@media (max-width: 500px) {
    .navbar {
        height: 100px;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}
